.label{
    font-weight: bolder;
}
#one{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    background-color:rgb(135, 244, 244);
}
#two{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    background-color:rgb(135, 244, 244);
}
#three{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    background-color:rgb(135, 244, 244);
}
#four{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    background-color:rgb(135, 244, 244);
}
#gender{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    background-color:rgb(135, 244, 244);
}
#five{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    background-color:rgb(135, 244, 244);
}
#six{
    border:2px solid black;
     border-radius: 10px;
     box-shadow: 2px 2px 2px 2px;
     background-color:rgb(135, 244, 244);
}
#seven{
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    background-color:rgb(135, 244, 244);
}
#submit{
    border:2px solid black;
    border-radius: 10px;
    margin-left: 8%;
    background-color:hotpink;
    box-shadow: 2px 2px 2px 2px;
   
}
form{
    padding:30px;
}
table{
    text-align: center;
   width:60%;
border: 2px solid black;
}

td,th {
  border: 1px solid;
  padding: 5px 10px;
 
}